In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras import optimizers
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('fraud_detection_bank_dataset.csv')
df.head()

,Unnamed: 0,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,0,9,1354,0,18,0,1,7,9,0,...,0,0,0,1,1,0,0,0,49,1
1,1,0,239,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,55,1
2,2,0,260,0,4,0,3,6,0,0,...,0,0,0,1,1,0,0,0,56,1
3,3,17,682,0,1,0,0,8,17,0,...,0,1,0,1,1,0,0,0,65,1
4,4,1,540,0,2,0,1,7,1,0,...,0,0,0,1,1,0,0,0,175,1

In [3]:
print(len(df))

20468

In [4]:
df['targets'].value_counts()

0    15030
1     5438
Name: targets, dtype: int64

In [5]:
for col in df.columns:
    if (df[col] == 0).all():
        df = df.drop([col], axis=1)

In [6]:
num_rows = len(df.index)
low_information_cols = []

for col in df.columns:
    cnts = df[col].value_counts(dropna=False)
    top_pct = (cnts/num_rows).iloc[0]
    
    if top_pct > 0.97:
        low_information_cols.append(col)
        print('{0}: {1:.5f}%'.format(col, top_pct*100))
        print(cnts)
        print()

col_27: 97.51808%
0     19960
1       355
2        96
3        26
4        16
5         9
8         2
18        1
6         1
7         1
9         1
Name: col_27, dtype: int64

col_28: 99.99511%
1    20467
0        1
Name: col_28, dtype: int64

col_39: 99.87786%
0    20443
1       21
2        1
3        1
7        1
9        1
Name: col_39, dtype: int64

col_40: 99.92671%
0      20453
1          4
3          3
5          2
13         2
4          1
724        1
102        1
12         1
Name: col_40, dtype: int64

col_45: 97.16631%
0      19888
1        331
2         99
3         43
4         33
5         23
7         11
8          8
6          7
9          6
11         3
12         3
16         2
15         2
21         1
18         1
24         1
232        1
10         1
13         1
45         1
14         1
46         1
Name: col_45, dtype: int64

col_46: 98.81767%
0     20226
1       121
2        49
3        25
4        12
6         9
5         5
7         3
8         3
10        3
12        3
11        2
18        1
69        1
49        1
26        1
13        1
14        1
46        1
Name: col_46, dtype: int64

col_56: 99.17432%
0      20299
1         17
3         13
2         10
8          8
       ...
113        1
25         1
41         1
99         1
431        1
Name: col_56, Length: 68, dtype: int64

col_58: 99.99511%
0      20467
102        1
Name: col_58, dtype: int64

col_72: 99.44303%
0    20354
1      114
Name: col_72, dtype: int64

col_73: 97.12722%
0    19880
1      588
Name: col_73, dtype: int64

col_75: 99.17432%
0    20299
1      169
Name: col_75, dtype: int64

col_77: 98.41704%
0    20144
1      324
Name: col_77, dtype: int64

col_78: 99.95603%
0    20459
1        9
Name: col_78, dtype: int64

col_79: 99.72152%
0    20411
1       57
Name: col_79, dtype: int64

col_80: 99.38440%
0    20342
1      126
Name: col_80, dtype: int64

col_81: 99.33555%
0    20332
1      136
Name: col_81, dtype: int64

col_84: 97.77702%
0    20013
1      455
Name: col_84, dtype: int64

col_87: 97.86985%
0    20032
1      436
Name: col_87, dtype: int64

col_88: 99.43815%
0    20353
1      115
Name: col_88, dtype: int64

col_91: 99.96091%
0    20460
1        8
Name: col_91, dtype: int64

col_93: 99.71175%
0    20409
1       59
Name: col_93, dtype: int64

col_94: 98.92515%
0    20248
1      220
Name: col_94, dtype: int64

col_95: 98.81278%
0    20225
1      243
Name: col_95, dtype: int64

col_101: 99.20363%
0    20305
1      163
Name: col_101, dtype: int64

col_103: 99.53098%
0    20372
1       91
2        5
Name: col_103, dtype: int64

col_105: 99.75572%
0    20418
1       50
Name: col_105, dtype: int64

col_108: 99.99511%
0    20467
1        1
Name: col_108, dtype: int64

col_110: 98.59293%
0     20180
1       216
2        32
3        12
4        10
5         6
6         4
9         2
11        2
17        1
7         1
10        1
13        1
Name: col_110, dtype: int64

In [7]:
df = df.drop(low_information_cols, axis=1)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold

df.drop('Unnamed: 0', axis=1, inplace=True)
#df = (df - df.mean()) / (df.max() - df.min())

X = df.drop(['targets'], axis=1)
y = df['targets']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [9]:
from sklearn.ensemble import RandomForestClassifier

rndf = RandomForestClassifier()
rndf.fit(X_train, y_train)
rndf.score(X_test, y_test)

0.9337241491613744

In [10]:
model = RandomForestClassifier(n_estimators=1, max_features='auto', max_depth=4, n_jobs=-1, random_state=5)
model.fit(X_train,y_train)

model.score(X_test, y_test)

0.8444878684253379

In [15]:
from catboost import CatBoostClassifier
clf = CatBoostClassifier(
    iterations=28)

clf.fit(
    X_train, y_train,
    eval_set=(X_test, y_test))

Learning rate set to 0.289711
0:	learn: 0.4522848	test: 0.4455555	best: 0.4455555 (0)	total: 24.3ms	remaining: 656ms
1:	learn: 0.3393796	test: 0.3321908	best: 0.3321908 (1)	total: 47ms	remaining: 611ms
2:	learn: 0.3017400	test: 0.2964750	best: 0.2964750 (2)	total: 68.6ms	remaining: 571ms
3:	learn: 0.2621794	test: 0.2577849	best: 0.2577849 (3)	total: 90.5ms	remaining: 543ms
4:	learn: 0.2463715	test: 0.2424007	best: 0.2424007 (4)	total: 113ms	remaining: 519ms
5:	learn: 0.2343891	test: 0.2309784	best: 0.2309784 (5)	total: 135ms	remaining: 496ms
6:	learn: 0.2275154	test: 0.2246621	best: 0.2246621 (6)	total: 157ms	remaining: 470ms
7:	learn: 0.2197436	test: 0.2183434	best: 0.2183434 (7)	total: 180ms	remaining: 451ms
8:	learn: 0.2141050	test: 0.2145186	best: 0.2145186 (8)	total: 209ms	remaining: 440ms
9:	learn: 0.2109616	test: 0.2122690	best: 0.2122690 (9)	total: 231ms	remaining: 415ms
10:	learn: 0.2050706	test: 0.2057646	best: 0.2057646 (10)	total: 253ms	remaining: 391ms
11:	learn: 0.1982573	test: 0.2003343	best: 0.2003343 (11)	total: 275ms	remaining: 367ms
12:	learn: 0.1965370	test: 0.1992103	best: 0.1992103 (12)	total: 296ms	remaining: 341ms
13:	learn: 0.1941099	test: 0.1967326	best: 0.1967326 (13)	total: 317ms	remaining: 317ms
14:	learn: 0.1924124	test: 0.1953265	best: 0.1953265 (14)	total: 338ms	remaining: 293ms
15:	learn: 0.1908788	test: 0.1939494	best: 0.1939494 (15)	total: 363ms	remaining: 272ms
16:	learn: 0.1860236	test: 0.1895682	best: 0.1895682 (16)	total: 392ms	remaining: 253ms
17:	learn: 0.1842510	test: 0.1884252	best: 0.1884252 (17)	total: 421ms	remaining: 234ms
18:	learn: 0.1812619	test: 0.1852779	best: 0.1852779 (18)	total: 445ms	remaining: 211ms
19:	learn: 0.1779340	test: 0.1828821	best: 0.1828821 (19)	total: 467ms	remaining: 187ms
20:	learn: 0.1767510	test: 0.1821449	best: 0.1821449 (20)	total: 488ms	remaining: 163ms
21:	learn: 0.1753559	test: 0.1816959	best: 0.1816959 (21)	total: 509ms	remaining: 139ms
22:	learn: 0.1737724	test: 0.1808924	best: 0.1808924 (22)	total: 531ms	remaining: 115ms
23:	learn: 0.1728340	test: 0.1803950	best: 0.1803950 (23)	total: 551ms	remaining: 91.8ms
24:	learn: 0.1711016	test: 0.1786861	best: 0.1786861 (24)	total: 572ms	remaining: 68.7ms
25:	learn: 0.1702563	test: 0.1782035	best: 0.1782035 (25)	total: 593ms	remaining: 45.6ms
26:	learn: 0.1698890	test: 0.1782127	best: 0.1782035 (25)	total: 614ms	remaining: 22.8ms
27:	learn: 0.1683100	test: 0.1775024	best: 0.1775024 (27)	total: 645ms	remaining: 0us

bestTest = 0.177502358
bestIteration = 27

In [16]:
clf.score(X_test, y_test)

0.9301416707376648